@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
  font-family: "Railwey", sans-serif;
}

.team-card {
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  background-color: #f5f5f5;
}

.flex, .flexx {
  justify-content: center;
}

.flexxx {
  margin-top: 15px;
  justify-content: space-evenly;
}

.centering {
  display: flex;
  align-items: center;
}

.container {
  width: 60vw;
  height: 80vh;
  margin: 10vh auto;
  border-radius: 5px;
  border: 1px solid #363062;
  background-color: #DBDFFD;
}

.container img {
  width: 60px;
  margin-top: 30px;
  border-radius: 30px;
}

.center-image img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-top: 50px;
}

p {
  font-weight: bolder;
}

h1, p {
  color: brown;
  text-align: center;
}

.firework {
  position: absolute;
}

.explosion {
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 4px;
  height: 80px;
  transform-origin: 58%, 100%;
}

.explosion:nth-child(1) {
  transform:rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
  transform:rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
  transform:rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
  transform:rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
  transform:rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
  transform:rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
  transform:rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
  transform:rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
  transform:rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
  transform:rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
  transform:rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
  transform:rotate(330deg) translateY(-15px);
}

.explosion::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 40px;
  background-color: #686296;
  animation: explosion 2s ease-in-out infinite;
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%, 100% {
    top: -50%;
  }
}

#firework1 {
  left: 50%;
  top: 53%;
  transform: scale(.9);
}
#firework1 .explosion {
  animation: explosion 3s ease-in-out infinite;
}

#firework2 {
  left: 27%;
  top: 50%;
  transform: scale(.7);
}
#firework2 .explosion {
  animation: explosion 2s .8s ease-in-out infinite;
}

#firework3 {
  left: 73%;
  top: 50%;
  transform: scale(.7);
}
#firework3 .explosion {
  animation: explosion 2s .4s ease-in-out infinite;
}

.animate-box {
  width: 30px;
  height: 30px;
  background:#DBDFFD;
  position: relative;
  animation: myfirst 5s 1;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes myfirst {
  0%   {background: #DBDFFD; left: 0px; top: 0px;}
  25%  {background: #363062; left: 790px; top: 0px;}
  50%  {background: #DBDFFD; left: 790px; top: 525px;}
  75%  {background: #DBDFFD; left: 0px; top: 525px;}
  100% {background: #363062; left: 0px; top: 0px;}
}

@media screen and (max-width: 769px) {

  .container {
    width: 90vw;
    height: 90vh;
    margin: 25px auto;
  }

  h1 {
    padding-top: 25px;
  }

  p {
    padding-top: 15px;
  }

  .center-image p {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .animate-box {
    width: 20px;
    height: 20px;
    background: #DBDFFD;
    position: absolute;
    animation: myfirst 5s 1;
    animation-direction: reverse;
    animation-iteration-count: infinite;
  }
  @keyframes myfirst {
    0%   {background: #DBDFFD; left: 40px; top: 24px;}
    25%  {background: #363062; left: 710px; top: 24px;}
    50%  {background: #DBDFFD; left: 710px; top: 525px;}
    75%  {background: #DBDFFD; left: 40px; top: 525px;}
    100% {background: #363062; left: 40px; top: 45px;}
  }

}


@media screen and (max-width: 426px) {

  .container {
    width: 98vw;
    height: 80vh;
    margin: 60px auto;
  }

  .center-image img {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    padding-top: 5px;
  }

  .center-image p {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .firework {
    display: none;
  }

  .animate-box {
    width: 20px;
    height: 20px;
    background: #DBDFFD;
    position: absolute;
    animation: myfirst 5s 1;
    animation-direction: reverse;
    animation-iteration-count: infinite;
  }
  @keyframes myfirst {
    0%   {background: #DBDFFD; left: 5px; top: 60px;}
    25%  {background: #363062; left: 500px; top: 60px;}
    50%  {background: #DBDFFD; left: 500px; top: 525px;}
    75%  {background: #DBDFFD; left: 5px; top: 525px;}
    100% {background: #363062; left: 5px; top: 60px;}
  }

}

